* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  color: #2E2E31;
  background: #7c8d9b;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  padding: .5em 0;
  background: #2E2E31;
  color: #abc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header nav ul li a {
  color: #abc;
  padding: 1em .5em .5em .5em;
}

body header nav ul li a:hover {
  background: #abc;
  color: #2E2E31;
}

body header span ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header span ul li a {
  color: #abc;
  padding: 1em .5em .5em .5em;
}

body header span ul li a:hover {
  background: #abc;
  color: #2E2E31;
}

body span#sessionInfo {
  color: #abc;
}

body main {
  background: #7c8d9b;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 220px;
      grid-template-columns: 1fr 220px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

body main div#gallery {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  padding: .5em;
  border-right: 1px solid #2E2E31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main div#gallery ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
}

body main div#gallery ul li {
  width: 350px;
  height: 200px;
  background: #7c8d9b;
  margin: .5em;
  border-radius: 5px;
  -webkit-box-shadow: -3px 5px 2px #0005;
          box-shadow: -3px 5px 2px #0005;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body main div#gallery ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0;
  color: #fff;
  background: #355;
  font-size: .9em;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body main div#gallery ul li img {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 90.5%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
}

body main div#gallery ul li:hover {
  -webkit-transform: scaleX(1.05) scaleY(1.09);
          transform: scaleX(1.05) scaleY(1.09);
}

body main form#filter {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25.5px 1fr;
      grid-template-columns: 25.5px 1fr;
  -ms-grid-rows: (25px)[12];
      grid-template-rows: repeat(12, 25px);
  color: #fff;
}

body main form#filter input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
  margin: auto;
}

body main form#filter input[type="text"] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-shadow: none;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  padding-left: 30px;
  border-radius: 2px;
}

body main form#filter img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  width: 12px;
  z-index: 1;
  padding: .32em;
  background: #ccc;
}

body main form#filter input[type="submit"] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  background: #2E2E31;
  color: #abc;
  font-size: 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  border: 1px solid #2E2E31;
  border-radius: 2px;
  width: 80px;
  margin: 0;
}

body main form#filter input[type="submit"]:hover {
  cursor: pointer;
}

body main form#filter label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

body main#description {
  margin: 0 auto;
  min-width: 708px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 60px 305px auto;
      grid-template-rows: 60px 305px auto;
  background: #7c8d9b;
}

body main#description h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding: .2em .1em;
  max-width: 700px;
  color: #2E2E31;
}

body main#description img#banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  width: 350px;
  height: 200px;
  -webkit-transform: scale(1.5) translateY(34px) translateX(60px);
          transform: scale(1.5) translateY(34px) translateX(60px);
  border: 2px solid #2E2E31;
  background: #355;
}

body main#description div#rating {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background: #355;
  color: #ccc;
  font-size: 28px;
  padding: .1em .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main#description div#rating div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main#description div#rating div span {
  font-size: 28px;
  margin: auto;
  max-width: 50px;
}

body main#description div#rating span {
  max-width: 160px;
}

body main#description div#rating span.subSpan {
  font-size: 15px;
}

body main#description div#rating span:nth-child(2) {
  padding-bottom: 4.5em;
  padding-top: 1em;
}

body main#description div#rating img {
  width: 80px;
  height: 80px;
  margin: 10px auto 0 auto;
  background: #ccc;
  padding: .3em;
  border-radius: 10px;
}

body footer {
  display: block;
  background: #2E2E31;
  color: #666;
}

body h1.userPage {
  margin: 100px auto 0 auto;
  font-size: 4em;
}

body .userForm {
  width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 3fr 3fr 3fr 4fr;
      grid-template-rows: 3fr 3fr 3fr 4fr;
  margin: 0 auto;
  border: 2px solid #fff0;
  -webkit-transition: all 50ms linear;
  transition: all 50ms linear;
}

body .userForm input, body .userForm label {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}

body .userForm label {
  cursor: pointer;
  background: #ccc;
  color: #2E2E31;
  padding: 0 .5em;
}

body .userForm input[type="text"], body .userForm input[type="password"] {
  border: none;
  padding: 0 .5em;
  color: #2E2E31;
}

body .userForm input[type="submit"] {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 1em;
  color: #ccc;
  background: #2E2E31;
}

body .userForm input[type="submit"]:hover, body .userForm input[type="submit"]:focus {
  background: #666;
  color: #ccc;
}

body .userForm span#errorMessageLogin, body .userForm span#errorMessageRegister {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: none;
  background: red;
  color: #fff;
  padding: .1em .2em;
}

body .userForm span#errorMessageLogin {
  padding-top: .6em;
}

body .userForm span#errorMessageLogin.active, body .userForm span#errorMessageRegister.active {
  display: block;
}

body form.error, body form.error {
  border: 2px solid red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */